.CardRoot{
    margin-left: 36px;
    
}
.ratings{
    display: flex;
    align-items: center;
}
.ratings > *{
    margin-right: 10px;
}
.StarImage{
    width: 14px;
    height: 14px;
}
.bold{
    font-weight: bold;
}

.CoverImage{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.gray{
    color: gray;
}